Makefile.paths
*~
schemas.xml
output
figures
tmp
webaux
code
data
modules
other-ideas
sage-intro
unused
webwork
corrections
Makefile.bkp
Makefile.may19
Makefile.old
pretext-promote/span.jpg
pretext-promote/span-2.jpg
src/preface.xml.bkp
.error_schema.log
cli.log
adoptions/
admin/


